extends layoutAdmin
block order
  li.menu-item
    a.menu-link(href='/admin' style="color:#696cff")
      i.menu-icon.tf-icons.bx.bxs-widget
      div(data-i18n='Analytics') สรุปยอดขายสินค้า
  li.menu-item
    a.menu-link(href='/admin/category' style="color:#696cff")
      i.menu-icon.tf-icons.bx.bx-cube-alt
      div(data-i18n='Analytics') จัดการหมวดหมู่สินค้า
  li.menu-item
    a.menu-link(href='/admin/request' style="color:#696cff")
      i.menu-icon.tf-icons.bx.bx-body
      div(data-i18n='Analytics') คำร้องขอเพิ่มชุมชน
  li.menu-item
    a.menu-link(href='/admin/tranship' style="color:#696cff")
      i.menu-icon.tf-icons.bx.bx-car
      div(data-i18n='Analytics') จัดการค่าส่ง
  li.menu-item.active
    a.menu-link(href='/admin/changePassword' style="color:#696cff")
      i.menu-icon.tf-icons.bx.bx-message-square-edit
      div(data-i18n='Analytics') แก้ไขรหัสผ่าน
//- end navbar
block contentAdmin
  section 
    .container-xxl.flex-grow-1.container-p-y
      h4.fw-bold.py-3.mb-4 
        a
          span.text-muted.fw-light
          | เปลี่ยนรหัสผ่าน
      .row
        .col-md-12
          //- ul.nav.nav-pills.flex-column.flex-md-row.mb-3
            //- li.nav-item
            //-   a.nav-link.active(href='/admin/changePassword')
            //-     i.bx.bx-link-alt.me-1
            //-     |  เปลี่ยนรหัสผ่าน
          .card.mb-4
            h3.card-header(style="color:#696cff") เปลี่ยนรหัสผ่าน
            // Account
            hr.my-0
            .card-body
              form#formAccountSettings(action="/admin/changePassword", method='POST')
                .row
                  .mb-3.col-md-6.form-password-toggle
                    h4(for='current-password') รหัสผ่านเดิม
                    .input-group.input-group-merge
                      input#current-password.form-control(type='password',minlength="8" maxlength="12" name='currentPassword', title="รหัสผ่านต้องมีอักขระอย่างน้อย 8 ตัว" placeholder='············' autofocus required=true)
                      span.input-group-text.cursor-pointer
                        i.bx.bx-hide
                  .mb-3.col-md-6.form-password-toggle
                    h4(for='new-password') รหัสผ่านใหม่
                    .input-group.input-group-merge
                      input#new-password.form-control(type='password',minlength="8" maxlength="12" name='newPassword', title="รหัสผ่านต้องมีอักขระอย่างน้อย 8 ตัว" placeholder='รหัสผ่านใหม่' required=true)
                      span.input-group-text.cursor-pointer
                        i.bx.bx-hide
                    label(style="color:red") ***รหัสผ่านต้องมีอักษรหรือตัวเลขอย่างน้อย 8 ตัวแต่ไม่เกิน 12 ตัว***
                  .mb-3.col-md-6.form-password-toggle
                    h4(for='confirm-password') ยืนยันรหัสผ่านใหม่
                    .input-group.input-group-merge
                      input#confirm-password.form-control(type='password',minlength="8" maxlength="12" name='repeatPassword', title="รหัสผ่านต้องมีอักขระอย่างน้อย 8 ตัว" placeholder='ยืนยันรหัสผ่านใหม่' required=true)
                      span.input-group-text.cursor-pointer
                        i.bx.bx-hide
                    label(style="color:red") ***รหัสผ่านใหม่และยืนยันรหัสผ่านต้องตรงกัน***
                  if Checkedpass
                    if(checkOutNoti != '')
                      h3.text-center(class="alert-dismissible fade show" role="alert" style="color:red")=Checkedpass
                      br
                    else
                      h3.text-center(class="alert-dismissible fade show" role="alert" style="color:red")=checkOutNoti
                  else
                    h3.text-center(class="alert-dismissible fade show" role="alert" style="color:red")=Checkpassword
                    br
                .d-grid.gap-2.col-lg-6.mx-auto
                  button.btn.btn-primary.btn-lg(type='submit') เปลี่ยนรหัสผ่าน
                  //- button.btn.btn-outline-secondary(type='reset') ยกเลิก