extends info
block content
    div(class="d-flex justify-content-center")
        .col-lg-6
            .card
                .card-body
                    div(class="container d-flex justify-content-center")
                        hr.divider-w.mb-10
                        h4.font-alt(style="color:#6C7AE0") เปลี่ยนรหัสผ่าน
                    form.dev-form(id='changePassword', action='/Account/user/changePassword', method='POST')
                        .form-group
                            input#current-password.form-control(type='password',minlength="8" maxlength="12" name='currentPassword', title="รหัสผ่านต้องมีอักขระอย่างน้อย 8 ตัว" placeholder='รหัสผ่านเดิม' autofocus required=true)
                            //- label(style="color:red") ***รหัสผ่านต้องมีอักษรหรือตัวเลขอย่างน้อย 8 ตัวแต่ไม่เกิน 12 ตัว***
                        .form-group
                            input#new-password.form-control(type='password',minlength="8" maxlength="12" name='newPassword', title="รหัสผ่านต้องมีอักขระอย่างน้อย 8 ตัว" placeholder='รหัสผ่านใหม่' required=true)
                            label(style="color:red") ***รหัสผ่านต้องมีอักษรหรือตัวเลขอย่างน้อย 8 ตัวแต่ไม่เกิน 12 ตัว***
                        .form-group
                            input#confirm-password.form-control(type='password',minlength="8" maxlength="12" name='repeatPassword', title="รหัสผ่านต้องมีอักขระอย่างน้อย 8 ตัว" placeholder='ยืนยันรหัสผ่านใหม่' required=true)
                            label(style="color:red") ***รหัสผ่านใหม่และยืนยันรหัสผ่านต้องตรงกัน***
                        if Checkedpass
                            if(checkOutNoti != '')
                                p(class="alert alert-danger alert-dismissible fade show" role="alert")=Checkedpass
                                br
                            else
                                p(class="alert alert-danger alert-dismissible fade show" role="alert" hidden='')=checkOutNoti
                        else
                            p(class="alert alert-danger alert-dismissible fade show" role="alert" hidden='')=Checkpassword
                            br
                        .form-group
                            button.flex-c-m.stext-101.cl0.size-121.bg1.bor1.hov-btn3.p-lr-15.trans-04.pointer(type='submit') เปลี่ยนรหัสผ่าน
            div(class="container")         
                form.dev-form(action='/Account/user' +  '/edit', method='GET')
                    button#button.flex-c-m.stext-101.cl0.size-121.bg3.bor1.hov-btn3.p-lr-15.trans-04.pointer(type='submit', value='confirm', tabindex='2', aria-label='Submit')
                        i.fa.fa-edit
                        = ' แก้ไขข้อมูลส่วนตัว'
                form.dev-form(action='/Account/user/', method='GET')
                    button#button.flex-c-m.stext-101.cl0.size-121.bg3.bor1.hov-btn3.p-lr-15.trans-04.pointer(type='submit', value='confirm', tabindex='2', aria-label='Submit')
                        i.fa.fa-home
                        = ' ข้อมูลส่วนตัว'
                form.dev-form(action='/Account/user' +  '/address', method='GET')
                    button#button.flex-c-m.stext-101.cl0.size-121.bg3.bor1.hov-btn3.p-lr-15.trans-04.pointer(type='submit', value='confirm', tabindex='2', aria-label='Submit')
                        i.fa.fa-edit
                        = ' ที่อยู่'