extends info
block cid
  script(src='/js/jquery-3.6.0.min.js')
block content
  section
    .container-xxl.flex-grow-1.container-p-y
      .row
        .col-lg-10.col-xl-10.m-lr-auto.m-b-50
          .m-l-30.m-r--38.m-lr-0-xl
            br
            h2 ติดตามคำสั่งซื้อ
            .card
              .table-responsive.text-nowrap
                table#orderTableUser(class="table table-bordered")
                  thead
                    tr
                      th.text-center(scope='col' style="color:#696cff,width=50px") หมายเลขคำสั่งซื้อ
                      th.text-center(scope='col' style="color:#696cff") วันที่สั่งซื้อ
                      th.text-center(scope='col' style="color:#696cff") สลิปการโอนเงิน
                      th.text-center(scope='col' style="color:#696cff") วันที่แนบสลิป
                      th.text-center(scope='col' style="color:#696cff") ยอดรวม
                      th.text-center(scope='col' style="color:#696cff") สถานะ
                      th.text-center(scope='col' style="color:#696cff")
                  tbody.table-border-bottom-0
                    each Order,index in orders
                      tr
                        td.text-center
                          a(href='/Account/order/detail/'+Order.order_Id)
                            i.fab.fa-angular.fa-lg.text-danger.me-3
                            |
                            strong=Order.order_Id
                        td(style="width:20%")=Order.created_At
                        if Order.bank_Slip == null
                          td.text-center(style="color:red") ยังไม่มี
                          td.text-center(style="color:red") ยังไม่มี
                        else
                          td.text-center
                            a(href="/images/slip/" + Order.bank_Slip target="_blank")
                              img#img(width="100" height="100"  src="/images/slip/" + Order.bank_Slip)
                          td.text-center=Order.bank_Slip_DateTime
                        td.text-center(style="width:200px")=Order.net_Price
                        if Order.order_Status == 0
                          td.text-center
                            span(class="badge badge-dark") รอการชำระเงิน
                          td.text-center
                            a(href="/Account/order/detail/" + Order.order_Id)
                              button(style="width:200px" class="btn btn-outline-dark") ดูรายละเอียด
                        else if Order.order_Status == 1
                          td.text-center
                            span(class="badge badge-info") รอร้านค้าตรวจสอบ
                          td.text-center
                            a(href="/Account/order/detail/" + Order.order_Id)
                              button(style="width:200px" class="btn btn-outline-info") ดูรายละเอียด
                        else if Order.order_Status == 2
                          td.text-center
                            span(class="badge badge-warning") กำลังจัดเตรียมพัสดุ
                          td.text-center
                            a(href="/Account/order/detail/" + Order.order_Id)
                              button(style="width:200px" class="btn btn-outline-warning") ดูรายละเอียด
                        else if Order.order_Status == 3
                          td.text-center
                            span(class="badge badge-success") จัดส่งแล้ว
                            br
                            span(class="badge badge-success")=Order.tracking
                          td.text-center(style="width:20%")
                            a(href="/Account/order/detail/" + Order.order_Id)
                              button(style="width:200px" class="btn btn-outline-success") ดูรายละเอียด
                        else if Order.order_Status == 4
                          td.text-center
                            span(class="badge badge-danger") ยกเลิก
                          td.text-center
                            a(href="/Account/order/detail/" + Order.order_Id)
                              button(style="width:200px" class="btn btn-outline-danger") ดูรายละเอียด
                        else if Order.order_Status == 5
                          td.text-center
                            span(class="badge badge-danger") ชำระเงินใหม่
                          td.text-center
                            a(href="/Account/order/detail/" + Order.order_Id)
                              button(style="width:200px" class="btn btn-outline-danger") ดูรายละเอียด
  script(src='/shop/assets/js/jquery.dataTables.min.js')
  script(src='/shop/assets/js/dataTables.bootstrap5.min.js')
  script.
    $('#myModal').on('hidden.bs.modal', function (e) {
      // do something...
    })
    $(document).ready( function (){
      $('#orderTableUser').DataTable({
        "language": {
          url:'/shop/assets/json/th.json'
        },
        "aLengthMenu": [[10, 20 , 100, 200, 500, 1000, -1], [10, 20, 100, 200, 500, 1000, "ทั้งหมด"]],
        "iDisplayLength": 20,
        "DisplayLength" : 20,
        // "scrollY": "1000px",
        "scrollCollapse": true,
        "paging": true,
        "footer":false,
        "order": [],
        //- dom: <"wrapper"flipt>,
      }); 
    });