extends layoutCommunity
block navbarMain
  li.menu-item
    a.menu-link(href='/community/home')
      i.menu-icon.tf-icons.bx.bx-home-circle
      div(data-i18n='Analytics') หน้าหลัก
block navProduct
  li.menu-item
    a.menu-link(href='/community/product')
      i.menu-icon(class="bi bi-folder")
      div(data-i18n='Without menu') สินค้าชุมชน
block bank
  block bank
  li.menu-item
    a.menu-link(href='/community/orderSummary')
      i.menu-icon(class="bi bi-reception-4")
      div(data-i18n='Without menu') รายรับของชุมชน
      
block community
  li.menu-header.small.text-uppercase
    h6(style="color:#696cff") ชุมชน
  li.menu-item
    a.menu-link.menu-toggle(href='javascript:void(0);')
      i.menu-icon.tf-icons.bx.bx-dock-top
      div(data-i18n='Account Settings') จัดการชุมชน
    ul.menu-sub
      li.menu-item
        a.menu-link(href='/community/people')
          div(data-i18n='Connections') คำขอเข้าร่วมเป็นร้านค้าชุมชน
      li.menu-item
        a.menu-link(href='/community/peopleCommunity')
          div(data-i18n='Connections') สมาชิกชุมชน
      li.menu-item
        a.menu-link(href='/community/address')
          div(data-i18n='Notifications') ที่อยู่ของชุมชน
      
block profileShop
  li.menu-header.small.text-uppercase
    h6(style="color:#696cff") บัญชีผู้ใช้งาน
  li.menu-item.active
    a.menu-link(href='/community/communityProfile')
      i.menu-icon.tf-icons.bx.bx-user
      div(data-i18n='Tables') โปรไฟล์
//- end navbar
block contentShop
  section 
    .container-xxl.flex-grow-1.container-p-y
      h4.fw-bold.py-3.mb-4 
        a
          span.text-muted.fw-light โปรไฟล์ / 
          | เปลี่ยนรหัสผ่าน
      .row
        .col-md-12
          ul.nav.nav-pills.flex-column.flex-md-row.mb-3
            li.nav-item
              a.nav-link(href='/community/communityProfile')
                i.bx.bx-user.me-1
                |  โปรไฟล์
            li.nav-item
              a.nav-link.active(href='/community/communityProfile/changePassword')
                i.bx.bxs-edit
                |  เปลี่ยนรหัสผ่าน
          .card.mb-4
            h3.card-header(style="color:#696cff") เปลี่ยนรหัสผ่าน
            // Account
            //- each communityProfile in communityProfile
            hr.my-0
            .card-body
              form#formAccountSettings(action="/community/communityProfile/changePassword", method='POST')
                .row
                  .mb-3.col-md-6.form-password-toggle
                    h4(for='current-password') รหัสผ่านเดิม
                    .input-group.input-group-merge
                      input#current-password.form-control(type='password',minlength="8" maxlength="12" name='currentPassword', title="รหัสผ่านต้องมีอักขระอย่างน้อย 8 ตัว" placeholder='············' autofocus required=true)
                      span.input-group-text.cursor-pointer
                        i.bx.bx-hide
                  .mb-3.col-md-6.form-password-toggle
                    h4(for='new-password') รหัสผ่านใหม่
                    .input-group.input-group-merge
                      input#new-password.form-control(type='password',minlength="8" maxlength="12" name='newPassword', title="รหัสผ่านต้องมีอักขระอย่างน้อย 8 ตัว" placeholder='รหัสผ่านใหม่' required=true)
                      span.input-group-text.cursor-pointer
                        i.bx.bx-hide
                    label(style="color:red") ***รหัสผ่านต้องมีอักษรหรือตัวเลขอย่างน้อย 8 ตัวแต่ไม่เกิน 12 ตัว***
                  .mb-3.col-md-6.form-password-toggle
                    h4(for='confirm-password') ยืนยันรหัสผ่านใหม่
                    .input-group.input-group-merge
                      input#confirm-password.form-control(type='password',minlength="8" maxlength="12" name='repeatPassword', title="รหัสผ่านต้องมีอักขระอย่างน้อย 8 ตัว" placeholder='ยืนยันรหัสผ่านใหม่' required=true)
                      span.input-group-text.cursor-pointer
                        i.bx.bx-hide
                    label(style="color:red") ***รหัสผ่านใหม่และยืนยันรหัสผ่านต้องตรงกัน***
                  if Checkedpass
                    if(checkOutNoti != '')
                      div(class="container d-flex justify-content-center")
                        h3(class="alert-dismissible fade show" role="alert" style="color:red")=Checkedpass
                        br
                    else
                      div(class="container d-flex justify-content-center")
                        h3(class="alert-dismissible fade show" role="alert" style="color:red")=checkOutNoti
                  else
                    div(class="container d-flex justify-content-center")
                      h3(class="alert-dismissible fade show" role="alert" style="color:red")=Checkpassword
                    br
                .d-grid.gap-2.col-lg-6.mx-auto
                  button.btn.btn-primary.btn-lg(type='submit') เปลี่ยนรหัสผ่าน
                  //- button.btn.btn-outline-secondary(type='reset') ยกเลิก