doctype html
html(lang='th')
  head
    title= title + ' | MSC TH'
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width initial-scale=1')
    link(rel='icon' type='image/png' href='/images/icons/Logo-msc-mini.png')
    link(rel='stylesheet' type='text/css' href='/vendor/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet' type='text/css' href='/fonts/font-awesome-4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet' type='text/css' href='/fonts/iconic/css/material-design-iconic-font.min.css')
    link(rel='stylesheet' type='text/css' href='/fonts/linearicons-v1.0.0/icon-font.min.css')
    link(rel='stylesheet' type='text/css' href='/vendor/animate/animate.css')
    link(rel='stylesheet' type='text/css' href='/vendor/css-hamburgers/hamburgers.min.css')
    link(rel='stylesheet' type='text/css' href='/vendor/select2/select2.min.css')
    link(rel='stylesheet' type='text/css' href='/vendor/daterangepicker/daterangepicker.css')
    link(rel='stylesheet' type='text/css' href='/vendor/slick/slick.css')
    link(rel='stylesheet' type='text/css' href='/vendor/MagnificPopup/magnific-popup.css')
    link(rel='stylesheet' type='text/css' href='/vendor/perfect-scrollbar/perfect-scrollbar.css')
    link(rel='stylesheet' type='text/css' href='/css/util.css')
    link(rel='stylesheet' type='text/css' href='/css/main.css')
    style.
      @import url('/fonts/font-awesome-4.7.0/fonts/Kanit.css');
      body{
        font-family: 'Kanit', sans-serif !important;
      }
    block cid
  body.animsition
    //-  Header
    header(class="header-v2")
      //-  Header desktop
      .container-menu-desktop.trans-03
        .wrap-menu-desktop
          nav.limiter-menu-desktop.p-l-45
            //-  Logo desktop
            a.logo(href='/')
              img(src='/images/icons/Logo-msc.png' alt='IMG-LOGO')
            //-  Menu desktop
            .menu-desktop
              ul.main-menu
                li.active-menu
                  a(href='/') หน้าหลัก
                li
                  a(href='/') หมวดหมู่
                  -var subCat = JSON.parse(categories)
                    ul.sub-menu
                      each Category in subCat
                        li
                          if Category.category_Name.length > 25
                            a(name="category" href='/search/' + Category.category_Id + '/' + Category.category_Name   value=Category.category_Id)=Category.category_Name.substring(0,25)+"..."
                          else
                            a(name="category" href='/search/' + Category.category_Id + '/' + Category.category_Name   value=Category.category_Id)=Category.category_Name
                          if Category.subCate
                            ul.sub-menu
                              each cat in Category.subCate
                                li
                                  if cat.category_Name.length > 20
                                    a(name="category" href='/search/' + cat.category_Id + '/' + cat.category_Name value=cat.category_Id)=cat.category_Name.substring(0,20)+"..."
                                  else 
                                    a(name="category" href='/search/' + cat.category_Id + '/' + cat.category_Name value=cat.category_Id)=cat.category_Name
                                  if cat.subCate
                                    ul.sub-menu
                                      each cat2 in cat.subCate
                                        li
                                          if cat2.category_Name.length > 20
                                            a(name="category" href='/search/' + cat2.category_Id + '/' + cat2.category_Name value=cat2.category_Id)=cat2.category_Name.substring(0,20)+"..."
                                          else 
                                            a(name="category" href='/search/' + cat2.category_Id + '/' + cat2.category_Name value=cat2.category_Id)=cat2.category_Name
                                          if cat2.subCate
                                            each cat3 in cat2.subCate
                                              ul.sub-menu 
                                                li
                                                  if cat3.category_Name.length > 20
                                                    a(name="category" href='/search/' + cat3.category_Id + '/' + cat3.category_Name value=cat3.category_Id)=cat3.category_Name.substring(0,20)+"..."
                                                  else 
                                                    a(name="category" href='/search/' + cat3.category_Id + '/' + cat3.category_Name value=cat3.category_Id)=cat3.category_Name
                li
                  a(href='/about') เกี่ยวกับเรา
                if customer
                  if customer.user_status == 0
                    li
                      a(href='/Account/order') ติดตามคำสั่งซื้อ
                  li(class="active-menu")
                    a.stext-102.cl2.hov-cl1.trans-04(href='/Account/')=customer.fullname_user
                    ul.sub-menu
                      li 
                        a.stext-102.cl2.hov-cl1.trans-04(href='/Account/')
                          i.fa.fa-user(style="color:#6C7AE0")|&nbsp;&nbsp; บัญชีของฉัน
                      li 
                        a.stext-102.cl2.hov-cl1.trans-04(href='/sign-out')
                          i.fa.fa-sign-out(style="color:red") | ออกจากระบบ
                else
                  li
                    a(href='/sign-up-community') สมัครชุมชนกับ MSC TH
                  li
                    a(href='/sign-up-shop') สมัครร้านค้าชุมชนกับ MSC TH
                  li
                    a(href='/addCommunity') ดู/ส่ง คำร้องเพิ่มชุมชน
                  li
                    a.stext-102.cl2.hov-cl1.trans-04(href='/login')
                      | เข้าสู่ระบบ/สมัครสมาชิก
            //-  Icon header
            .wrap-icon-header.flex-w.flex-r-m.h-full
              //- .flex-c-m.h-full.p-r-24
              //-   .icon-header-item.cl2.hov-cl1.trans-04.p-lr-11
              //-     i.zmdi.zmdi-search
              .flex-c-m.h-full.p-l-18.p-r-25.bor5
                if (summary != null)
                  a(href='/cart')
                    div(class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 icon-header-noti js-show-cart" data-notify=summary.totalQuantity)
                      i.zmdi.zmdi-shopping-cart(style="color:#333333")
                else
                  a(href='/cart')
                    div(class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 icon-header-noti js-show-cart" data-notify="0")
                      i.zmdi.zmdi-shopping-cart(style="color:#333333")
              .flex-c-m.h-full.p-lr-19
                .icon-header-item.cl2.hov-cl1.trans-04.p-lr-11.js-show-sidebar
                  i.zmdi.zmdi-menu
      //-  Header Mobile
      .wrap-header-mobile
        //-  Logo moblie
        .logo-mobile
          a(href='/')
            img(src='/images/icons/Logo-msc.png' alt='IMG-LOGO')
        //-  Icon header
        .wrap-icon-header.flex-w.flex-r-m.m-r-15
          //- .icon-header-item.cl2.hov-cl1.trans-04.p-r-11.js-show-modal-search
          //-   i.zmdi.zmdi-search
          if (summary != null)
            a(href='/cart')
              div(class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 icon-header-noti js-show-cart" data-notify=summary.totalQuantity)
                i.zmdi.zmdi-shopping-cart
          else
            a(href='/cart')
              div(class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 icon-header-noti js-show-cart" data-notify="0")
                i.zmdi.zmdi-shopping-cart
        //-  Button show menu
        .btn-show-menu-mobile.hamburger.hamburger--squeeze
          span.hamburger-box
            span.hamburger-inner
      //-  Menu Mobile
      .menu-mobile
        ul.main-menu-m
          -var Account_full_name = 'Account'
          if customer
            li.p-b-13
              a(href='/Account/')=customer.fullname_user
          //- else if Community
          //-   li
          //-     a(href='/community/home')=Community.fullname
          //-   li
          //-     a(href='/sign-out')
          //-       i.fa.fa-sign-out(style="color:red") ออกจากระบบ
          //- else if shop
          //-   li
          //-     a(href='/shop/communityShop')=Community.fullname
          //-   li
          //-     a(href='/sign-out')
          //-       i.fa.fa-sign-out(style="color:red") ออกจากระบบ
          li
            a(href='/') หน้าหลัก
          //- li
          //-   a หมวดหมู่
          //-   ul.sub-menu-m
          //-     li 
          //-       a(href='#') ของกิน
          //-     li 
          //-       a(href='#') ของใช้
          //-     li 
          //-       a(href='#') เสื้อผ้า
          //-   span.arrow-main-menu-m 
          //-     i.fa.fa-angle-right(aria-hidden='true')
          li
            a(href='/about') เกี่ยวกับเรา
          if customer
            if customer.user_status == 0
              li
                a(href='/Account/order') ติดตามคำสั่งซื้อ
            li
              a(href='/sign-out')
                i.fa.fa-sign-out(style="color:red") ออกจากระบบ
          else
            li
              a(href='/sign-up-community') สมัครชุมชนกับ MSC TH
            li
              a(href='/sign-up-shop') สมัครร้านค้าชุมชนกับ MSC TH
            li
              a(href='/addCommunity') ดู/ส่ง คำร้องเพิ่มชุมชน
            li
              a(href='/login') เข้าสู่ระบบ/สมัครสมาชิก
    aside.wrap-sidebar.js-sidebar
      .s-full.js-hide-sidebar
      .sidebar.flex-col-l.p-t-22.p-b-25
        .flex-r.w-full.p-b-30.p-r-27
          .fs-35.lh-10.cl2.p-lr-5.pointer.hov-cl1.trans-04.js-hide-sidebar
            i.zmdi.zmdi-close
        .sidebar-content.flex-w.w-full.p-lr-65.js-pscroll
          ul.sidebar-link.w-full
            -var Account_full_name = 'Account'
            if customer
              li.p-b-13
                a(href='/Account/')=customer.fullname_user
            li.p-b-13
              a.stext-102.cl2.hov-cl1.trans-04(href='/')
                | หน้าหลัก
            li.p-b-13
              a.stext-102.cl2.hov-cl1.trans-04(href='/about') 
                | เกี่ยวกับเรา
            if customer
              if customer.user_status == 0
                li.p-b-13
                  a.stext-102.cl2.hov-cl1.trans-04(href='/Account/order') ติดตามคำสั่งซื้อ
              li.p-b-13
                a.stext-102.cl2.hov-cl1.trans-04(href='/sign-out')
                  i.fa.fa-sign-out(style="color:red") | ออกจากระบบ
            else 
              li.p-b-13
                a.stext-102.cl2.hov-cl1.trans-04(href='/sign-up-community')
                  | สมัครชุมชนกับ MSC TH
              li.p-b-13
                a.stext-102.cl2.hov-cl1.trans-04(href='/sign-up-shop')
                  | สมัครร้านค้าชุมชนกับ MSC TH
              li.p-b-13
                a.stext-102.cl2.hov-cl1.trans-04(href='/addCommunity')
                  | ดู/ส่ง คำร้องเพิ่มชุมชน
              li.p-b-13
                a.stext-102.cl2.hov-cl1.trans-04(href='/login')
                  | เข้าสู่ระบบ/สมัครสมาชิก
    block content
    //- Back to top
    div(class="btn-back-to-top" id="myBtn")
      span(class="symbol-btn-back-to-top")
        i(class="zmdi zmdi-chevron-up")
    //- // Footer
    //- br
    //- br
    //- footer.bg3.p-t-75.p-b-32
    //-   .container
    //-     .row
    //-       .col-sm-6.col-lg-3.p-b-50
    //-         h4.stext-301.cl0.p-b-30
    //-           | Categories
    //-         ul
    //-           li.p-b-10
    //-             a.stext-107.cl7.hov-cl1.trans-04(href='#')
    //-               | Women
    //-           li.p-b-10
    //-             a.stext-107.cl7.hov-cl1.trans-04(href='#')
    //-               | Men
    //-           li.p-b-10
    //-             a.stext-107.cl7.hov-cl1.trans-04(href='#')
    //-               | Shoes
    //-           li.p-b-10
    //-             a.stext-107.cl7.hov-cl1.trans-04(href='#')
    //-               | Watches
    //-       .col-sm-6.col-lg-3.p-b-50
    //-         h4.stext-301.cl0.p-b-30
    //-           | Help
    //-         ul
    //-           li.p-b-10
    //-             a.stext-107.cl7.hov-cl1.trans-04(href='#')
    //-               | Track Order
    //-           li.p-b-10
    //-             a.stext-107.cl7.hov-cl1.trans-04(href='#')
    //-               | Returns
    //-           li.p-b-10
    //-             a.stext-107.cl7.hov-cl1.trans-04(href='#')
    //-               | Shipping
    //-           li.p-b-10
    //-             a.stext-107.cl7.hov-cl1.trans-04(href='#')
    //-               | FAQs
    //-       .col-sm-6.col-lg-3.p-b-50
    //-         h4.stext-301.cl0.p-b-30
    //-           | GET IN TOUCH
    //-         p.stext-107.cl7.size-201
    //-           | Any questions? Let us know in store at 8th floor 379 Hudson St New York NY 10018 or call us on (+1) 96 716 6879
    //-         .p-t-27
    //-           a.fs-18.cl7.hov-cl1.trans-04.m-r-16(href='#')
    //-             i.fa.fa-facebook
    //-           a.fs-18.cl7.hov-cl1.trans-04.m-r-16(href='#')
    //-             i.fa.fa-instagram
    //-           a.fs-18.cl7.hov-cl1.trans-04.m-r-16(href='#')
    //-             i.fa.fa-pinterest-p
    //-       .col-sm-6.col-lg-3.p-b-50
    //-         h4.stext-301.cl0.p-b-30
    //-           | Newsletter
    //-         form
    //-           .wrap-input1.w-full.p-b-4
    //-             input.input1.bg-none.plh1.stext-107.cl7(type='text' name='email' placeholder='email@example.com')
    //-             .focus-input1.trans-04
    //-           .p-t-18
    //-             button.flex-c-m.stext-101.cl0.size-103.bg1.bor1.hov-btn2.p-lr-15.trans-04
    //-               | Subscribe
    //-     .p-t-40
    //-       p.stext-107.cl6.txt-center
    //-         // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
    //-         | Copyright &copy;
    //-         script.
    //-           document.write(new Date().getFullYear());
    //-         |  All rights reserved | Made with 
    //-         i.fa.fa-heart-o(aria-hidden='true')
    //-         |  by 
    //-         a(href='https://colorlib.com' target='_blank') Colorlib
    //-         |  &amp; distributed by 
    //-         a(href='https://themewagon.com' target='_blank') ThemeWagon
    //-         // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
    //- #myBtn.btn-back-to-top
    //-   span.symbol-btn-back-to-top
    //-     i.zmdi.zmdi-chevron-up
    //- .wrap-modal1.js-modal1.p-t-60.p-b-20
    //-   .overlay-modal1.js-hide-modal1
    //-   .container
    //-     .bg0.p-t-60.p-b-30.p-lr-15-lg.how-pos3-parent
    //-       button.how-pos3.hov3.trans-04.js-hide-modal1
    //-         img(src='/images/icons/icon-close.png' alt='CLOSE')
    //-       .row
    //-         .col-md-6.col-lg-7.p-b-30
    //-           .p-l-25.p-r-30.p-lr-0-lg
    //-             .wrap-slick3.flex-sb.flex-w
    //-               .wrap-slick3-dots
    //-               .wrap-slick3-arrows.flex-sb-m.flex-w
    //-               .slick3.gallery-lb
    //-                 .item-slick3(data-thumb='')
    //-                   .wrap-pic-w.pos-relative
    //-                     img(src='' alt='IMG-PRODUCT')
    //-                     a.flex-c-m.size-108.how-pos1.bor0.fs-16.cl10.bg0.hov-btn3.trans-04(href='')
    //-                       i.fa.fa-expand
    //-                 .item-slick3(data-thumb='')
    //-                   .wrap-pic-w.pos-relative
    //-                     img(src='' alt='IMG-PRODUCT')
    //-                     a.flex-c-m.size-108.how-pos1.bor0.fs-16.cl10.bg0.hov-btn3.trans-04(href='')
    //-                       i.fa.fa-expand
    //-                 .item-slick3(data-thumb='')
    //-                   .wrap-pic-w.pos-relative
    //-                     img(src='' alt='IMG-PRODUCT')
    //-                     a.flex-c-m.size-108.how-pos1.bor0.fs-16.cl10.bg0.hov-btn3.trans-04(href='')
    //-                       i.fa.fa-expand
    //-             .flex-w.flex-m.p-l-100.p-t-40.respon7
    //-               .flex-m.bor9.p-r-10.m-r-11
    //-                 a.fs-14.cl3.hov-cl1.trans-04.lh-10.p-lr-5.p-tb-2.js-addwish-detail.tooltip100(href='#' data-tooltip='Add to Wishlist')
    //-                   i.zmdi.zmdi-favorite
    //-               a.fs-14.cl3.hov-cl1.trans-04.lh-10.p-lr-5.p-tb-2.m-r-8.tooltip100(href='#' data-tooltip='Facebook')
    //-                 i.fa.fa-facebook
    //-               a.fs-14.cl3.hov-cl1.trans-04.lh-10.p-lr-5.p-tb-2.m-r-8.tooltip100(href='#' data-tooltip='Twitter')
    //-                 i.fa.fa-twitter
    //-               a.fs-14.cl3.hov-cl1.trans-04.lh-10.p-lr-5.p-tb-2.m-r-8.tooltip100(href='#' data-tooltip='Google Plus')
    //-                 i.fa.fa-google-plus
    //- script(src='/vendor/jquery/jquery-3.2.1.min.js')
    script(src='/vendor/animsition/js/animsition.min.js')
    script(src='/vendor/bootstrap/js/bootstrap.min.js')
    script(src='/vendor/select2/select2.min.js')
    script(src='/js/main.js')
    // Picture(Product Detail)
    script(src='/vendor/slick/slick.min.js')
    script(src='/js/slick-custom.js')
    script(src='/vendor/MagnificPopup/jquery.magnific-popup.min.js')
    script.
      $('.gallery-lb').each(function() { // the containers for all your galleries
        $(this).magnificPopup({
          delegate: 'a', // the selector for gallery item
          type: 'image',
          gallery: {
          enabled:true
        },
        mainClass: 'mfp-fade'
        });
      });