extends layout
block cid
    link(rel='stylesheet', href='/css/style.css')
block content
    div(class="d-flex justify-content-center")
        .col-lg-6
            .card
                .card-body
                    h3.card-title.text-center(class="d-flex justify-content-center" style="color:#6C7AE0") ลงทะเบียนชุมชนเพื่อเป็น 1 ในชุมชนกับเว็บไซต์ของเรา
                    h3.card-title.text-center(class="d-flex justify-content-center" style="color:red") (สำหรับหัวหน้าชุมชนเท่านั้น)
                    // Vertical Form
                    form(class='form', action='/sign-up-community', method='POST')
                        if checkOutNoti
                            if (signUpCommunityError != '')
                                p(class="alert alert-danger alert-dismissible fade show" role="alert")=signUpCommunityError
                            else
                                p(class="alert alert-danger alert-dismissible fade show" role="alert")=checkOutNoti
                        else
                            if (signUpCommunityError != '')
                                p(class="alert alert-danger alert-dismissible fade show" role="alert")=signUpCommunityError
                        .col-12
                            h5 ที่อยู่ชุมชน
                            .wrap-input1.w-full.p-b-4
                                input#address.form-control.input1.bg-none.plh1.stext-107.cl7(type='text', name='address',maxlength="255" ,placeholder='บ้านเลขที่ / ซอย / ถนน' autofocus required=true)
                                .focus-input1.trans-04
                        br
                        .col-12
                            h5 จังหวัด  : 
                            select.form-control.form-control-sm-2(name="Province" id="Province" onChange="ChooseProvince(this)" required=true)
                                option(value="")|---เลือกจังหวัด---
                                each province in provinces
                                    option(value=province.provinces_id name="province")=province.provinces_name
                        br
                        .col-12
                            h5 อำเภอ  : 
                            select.form-control.form-control-sm-2(name="Amphure" class="Amphure" id="Amphure" onChange="ChooseAmphures(this)" required=true) 
                                option(value="")|---เลือกอำเภอ---
                        br
                        .col-12
                            h5(for="Tambon") ตำบล  :
                            select.form-control.form-control-sm-2(name="Tambon" class="Tambon" id="Tambon" onChange="ChooseTambon(this)"  required=true)        
                                option(value="")|---เลือกตำบล---
                        br
                        .col-12
                            h5(for="Community") ชุมชน  : 
                            select.form-control.form-control-sm-2(name="Community" class="Community" id="Community" required=true)        
                                option(value="")|---เลือกชุมชน--- 
                            label(style="color:red") ***หากไม่เจอชื่อชุมชนในรายชื่อ กรุณาไปที่เมนูส่งคำร้องเพิ่มชุมชน***
                        br
                        .col-12
                            h5 รหัสไปรษณีย์
                            .wrap-input1.w-full.p-b-4
                                input.form-control.form-control-sm-2(type="text" id="Zipcode" name="zip_code" readonly required=true)
                        br
                        .col-12
                            h5 ชื่อบัญชีผู้ใช้ (Username)
                            .wrap-input1.w-full.p-b-4
                                input#username.form-control.input1.bg-none.plh1.stext-107.cl7(type='text', name='username',maxlength="40" placeholder='ชื่อบัญชีผู้ใช้ เช่น UserShopNew2565' required=true)
                                .focus-input1.trans-04
                        br
                        .col-12
                            h5 รหัสผ่าน (password)
                            .wrap-input1.w-full.p-b-4
                                input#password.form-control.input1.bg-none.plh1.stext-107.cl7(type='password',minlength="8" maxlength="12" name='password', title="รหัสผ่านต้องมีอักขระอย่างน้อย 8 ตัว" placeholder='············' required=true)
                                .focus-input1.trans-04
                                label(style="color:red") ***รหัสผ่านต้องมีอักษรหรือตัวเลขอย่างน้อย 8 ตัวแต่ไม่เกิน 12 ตัว***
                                p(id="error-nwl")
                                
                        br
                        .col-12
                            h5 ชื่อ-นามสกุล (หัวหน้าชุมชน)
                            .wrap-input1.w-full.p-b-4
                                input#F_name.form-control.input1.bg-none.plh1.stext-107.cl7(type='text', name='fullname',maxlength="30" placeholder='ชื่อ-นามสกุล (หัวหน้าชุมชน)' required=true)
                                .focus-input1.trans-04
                        br
                        .col-12
                            h5 เบอร์โทรศัพท์
                            .wrap-input1.w-full.p-b-4
                                input#phone.form-control.input1.bg-none.plh1.stext-107.cl7(type='tel', name='phone',title="กรุณาใส่หมายเลข 0123456789", placeholder='0XX-XXX-XXXX',pattern="[0-9]{10}" required=true)
                                .focus-input1.trans-04
                        br
                        //- .col-12
                        //-     .form-group
                        //-         h5 เลขบัตรประชาชน 13 หลัก 
                        //-         h5(style="color:red") (ใช้เพื่อตรวจสอบเท่านั้น ไม่มีการเก็บเลขบัตรประชาชน)
                        //-         input#cid.form-control(type='tel', name='cid', placeholder='X-XXXX-XXXXX-XX-X', autocomplete='off', title='National ID Input', aria-labelledby='InputLabel', aria-invalid='', aria-required='true', required=true, tabindex='1')
                        //- #errorMessage.text.error(aria-hidden='true', aria-label='Invalid ID', role='alert')
                        //-     p เลขบัตรประชาชนผิด หรือ ไม่ถูกต้อง กรุณากรอกเลขบัตรประชาชนใหม่อีกครั้ง
                        //- #successMessage.text.success(aria-hidden='true', aria-label='Valid ID', role='alert')
                        //-     p เลขบัตรประชาชนถูกต้อง
                        .col-12
                            h5 อีเมล
                            .wrap-input1.w-full.p-b-4
                                input#email.form-control.input1.bg-none.plh1.stext-107.cl7(type='email', name='email',maxlength="100" placeholder='XXXXXX@gmail.com' required=true)
                                .focus-input1.trans-04
                        br
                        hr.divider-w.mb-10
                        button#button.flex-c-m.stext-101.cl0.size-121.bg3.bor1.hov-btn3.p-lr-15.trans-04.pointer(type='submit', value='confirm', tabindex='2', aria-label='Submit') สมัคร
                        hr.divider-w.mb-10
    //- cid
    script(src='https://cdnjs.cloudflare.com/ajax/libs/imask/3.4.0/imask.min.js')
    script(src='/vendor/jquery/jquery-3.2.1.min.js')
    script(src='/js/script.js')
    //- address
    script.
        function ChooseProvince(province){
            fetch('sign-up-community/'+province.value)
            .then(res=> res.json())
            .then(data =>{
                const Amphure= document.getElementById("Amphure");
                Amphure.innerHTML='<option value="">---เลือกอำเภอ---</option>';
                const Tambon= document.getElementById("Tambon");
                Tambon.innerHTML='<option value="">---เลือกตำบล---</option>';
                const Community= document.getElementById("Community");
                Community.innerHTML='<option value="">---เลือกชุมชน---</option>';
                data.forEach(value=>{
                    var option=document.createElement('option');
                    option.value=value.amphures_id
                    option.text=value.amphures_name
                    Amphure.appendChild(option);
                })
            });
        }
        function ChooseAmphures(Amphure){
            var province=document.getElementById("Province").value;
            fetch('sign-up-community/'+province+'/'+Amphure.value)
            .then(res=> res.json())
            .then(data =>{
                const Tambon= document.getElementById("Tambon");
                Tambon.innerHTML='<option value="">---เลือกตำบล---</option>';
                data.forEach(value=>{
                    var option=document.createElement('option');
                    option.value=value.tambons_id
                    option.text=value.tambons_name
                    Tambon.appendChild(option);
                })
            });
        }
        function ChooseTambon(Tambon){
            var province=document.getElementById("Province").value;
            var amphure=document.getElementById("Amphure").value;
            fetch('sign-up-community/'+province+'/'+amphure+'/'+Tambon.value)
            .then(res=> res.json())
            .then(data =>{
                const Community= document.getElementById("Community");
                Community.innerHTML='<option value="">---เลือกชุมชน---</option>';
                const ZipCode=document.getElementById("Zipcode");
                ZipCode.value="";
                data.forEach(value=>{
                    var option=document.createElement('option');
                    option.value=value.community_id
                    option.text=value.community_name
                    ZipCode.value=value.zip_code
                    Community.appendChild(option);
                })
            });
        }
    //- script.
    //-     $(document).ready(function() {
    //-         $("#password").on("keyup", function() {
    //-             var password = document.getElementById('password');
    //-             var message = document.getElementById('error-nwl');
    //-             if(password.value.length > 5)
    //-             {
                    
    //-             }
    //-             else
    //-             {
    //-                 message.innerHTML = "กรุณากรอกรหัสผ่านขั้นต่ำ 6 ตัว"
    //-                 return;
    //-             }
    //-         });
    //-     });
    //- script.
    //-   $(document).ready = function checkPass() {
    //-         var password = document.getElementById('password');
    //-         var message = document.getElementById('error-nwl');
    //-         if(password.value.length > 5)
    //-         {

    //-         }
    //-         else
    //-         {
    //-             message.innerHTML = "กรุณากรอกรหัสผ่านขั้นต่ำ 6 ตัว"
    //-             return;
    //-         }
    //-     }
    