extends layoutShop
block navbarMain
  li.menu-item
    a.menu-link(href='/shop/communityShop')
      i.menu-icon.tf-icons.bx.bx-home-circle
      div(data-i18n='Analytics') หน้าหลัก
block navProduct
  if(shop.user_status == 4)
    li.menu-item
      a.menu-link.menu-toggle(href='javascript:void(0);')
        i.menu-icon.tf-icons.bx.bx-layout
        div(data-i18n='Layouts') จัดการสินค้าชุมชน
      ul.menu-sub
        li.menu-item
          a.menu-link(href='/shop/product')
            div(data-i18n='Without menu') สินค้าชุมชน
        li.menu-item
          a.menu-link(href='/shop/product/addProduct')
            div(data-i18n='Without navbar') เพิ่มสินค้าชุมชน
block bank
  if(shop.user_status == 4)
    li.menu-item
      a.menu-link.menu-toggle(href='javascript:void(0);')
        i.menu-icon.tf-icons.bx.bx-bar-chart-alt-2
        div(data-i18n='Layouts') การเงิน
      ul.menu-sub
        li.menu-item
          a.menu-link(href='/shop/money/orderSummary')
            div(data-i18n='Without menu') ยอดขายสินค้าของร้านค้า
        li.menu-item
          a.menu-link(href='/shop/money/bank')
            div(data-i18n='Without navbar') บัญชีธนาคาร
block order
  if(shop.user_status == 4)
    li.menu-item
      a.menu-link(href='/shop/order')
        i.menu-icon.tf-icons.bx.bx-table
        div(data-i18n='Tables') จัดการคำสั่งซื้อ
block profileShop
  li.menu-header.small.text-uppercase
    h6(style="color:#696cff") บัญชีผู้ใช้งาน
  li.menu-item.active
    a.menu-link(href='/shop/shopProfile')
      i.menu-icon.tf-icons.bx.bx-user
      div(data-i18n='Tables') โปรไฟล์
//- end navbar
block contentShop
  section 
    .container-xxl.flex-grow-1.container-p-y
      h4.fw-bold.py-3.mb-4 
        a
          span.text-muted.fw-light โปรไฟล์ / 
          | เปลี่ยนรหัสผ่าน
      .row
        .col-md-12
          ul.nav.nav-pills.flex-column.flex-md-row.mb-3
            li.nav-item
              a.nav-link(href='/shop/shopProfile')
                i.bx.bx-user.me-1
                |  โปรไฟล์
            li.nav-item
              a.nav-link.active(href='/shop/shopProfile/changePassword')
                i.bx.bxs-edit
                |  เปลี่ยนรหัสผ่าน
          .card.mb-4
            h3.card-header(style="color:#696cff") เปลี่ยนรหัสผ่าน
            // Account
            each communityProfile in community
              hr.my-0
              .card-body
                form#formAccountSettings(action="/shop/shopProfile/changePassword", method='POST')
                  .row
                    .mb-3.col-md-6.form-password-toggle
                      h4(for='current-password') รหัสผ่านเดิม
                      .input-group.input-group-merge
                        input#current-password.form-control(type='password',minlength="8" maxlength="12" name='currentPassword', title="รหัสผ่านต้องมีอักขระอย่างน้อย 8 ตัว" placeholder='············' autofocus required=true)
                        span.input-group-text.cursor-pointer
                          i.bx.bx-hide
                    .mb-3.col-md-6.form-password-toggle
                      h4(for='new-password') รหัสผ่านใหม่
                      .input-group.input-group-merge
                        input#new-password.form-control(type='password',minlength="8" maxlength="12" name='newPassword', title="รหัสผ่านต้องมีอักขระอย่างน้อย 8 ตัว" placeholder='รหัสผ่านใหม่' required=true)
                        span.input-group-text.cursor-pointer
                          i.bx.bx-hide
                      label(style="color:red") ***รหัสผ่านต้องมีอักษรหรือตัวเลขอย่างน้อย 8 ตัวแต่ไม่เกิน 12 ตัว***
                    .mb-3.col-md-6.form-password-toggle
                      h4(for='confirm-password') ยืนยันรหัสผ่านใหม่
                      .input-group.input-group-merge
                        input#confirm-password.form-control(type='password',minlength="8" maxlength="12" name='repeatPassword', title="รหัสผ่านต้องมีอักขระอย่างน้อย 8 ตัว" placeholder='ยืนยันรหัสผ่านใหม่' required=true)
                        span.input-group-text.cursor-pointer
                          i.bx.bx-hide
                      label(style="color:red") ***รหัสผ่านใหม่และยืนยันรหัสผ่านต้องตรงกัน***
                    if Checkedpass
                      if(checkOutNoti != '')
                        h3.text-center(class="alert-dismissible fade show" role="alert" style="color:red")=Checkedpass
                        br
                      else
                        h3.text-center(class="alert-dismissible fade show" role="alert" style="color:red")=checkOutNoti
                    else
                      h3.text-center(class="alert-dismissible fade show" role="alert" style="color:red")=Checkpassword
                      br
                  .d-grid.gap-2.col-lg-6.mx-auto
                    button.btn.btn-primary.btn-lg(type='submit') เปลี่ยนรหัสผ่าน
                    //- button.btn.btn-outline-secondary(type='reset') ยกเลิก