doctype html
html.light-style.layout-menu-fixed(lang='th', dir='ltr', data-theme='theme-default', data-assets-path='/shop/assets/', data-template='vertical-menu-template-free')
  head
    title= title + ' | MSC TH'
    meta(charset='UTF-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
    //Img
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css', crossorigin='anonymous')
    //-plugin
    link(href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.5.0/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css")
    //- link(href="/shop/assets/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.min.css" crossorigin="anonymous")    
    script(src='/js/jquery-3.6.0.min.js')
    script(src='/shop/assets/js/buffer.min.js', type='text/javascript')
    script(src='/shop/assets/js/piexif.min.js', type='text/javascript')
    script(src='/shop/assets/js/sortable.min.js', type='text/javascript')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js')
    block images
    script(src='/shop/assets/js/fileinput.min.js')
    script(src='/shop/js/th.js')
    // Favicon
    link(rel='icon', type='image/x-icon', href='/images/icons/Logo-msc-mini.png')
    // Fonts
    
    style.
      @import url('/fonts/font-awesome-4.7.0/fonts/Kanit.css');
      body{
        font-family: 'Kanit', sans-serif !important;
      }
    // Icons. Uncomment required icon fonts
    link(rel='stylesheet', href='/shop/assets/vendor/fonts/boxicons.css')
    link(type='text/css' href='/shop/assets/css/dataTables.bootstrap5.min.css')
    // Core CSS
    link.template-customizer-core-css(rel='stylesheet', href='/shop/assets/vendor/css/core.css')
    link.template-customizer-theme-css(rel='stylesheet', href='/shop/assets/vendor/css/theme-default.css')
    link(rel='stylesheet', href='/shop/assets/css/demo.css')
    
    // Vendors CSS
    link(rel='stylesheet', href='/shop/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css')
    link(rel='stylesheet', href='/shop/assets/vendor/libs/apex-charts/apex-charts.css')
    // Page CSS
    // Helpers
    script(src='/shop/assets/vendor/js/helpers.js')
    script(src='/shop/assets/js/config.js')
  body
    -var totalQuantity = 0;
    -var SumTotal = 0;
    -function formatMoney(inum){  // ฟังก์ชันสำหรับแปลงค่าตัวเลขให้อยู่ในรูปแบบ เงิน
      -var s_inum=new String(inum);
      -var num2=s_inum.split(".");
      -var n_inum="";  
      -if(num2[0]!=undefined){
      -var l_inum=num2[0].length;  
      -for(i=0;i<l_inum;i++){  
          -if(parseInt(l_inum-i)%3==0){  
              -if(i==0){  
                  -n_inum+=s_inum.charAt(i);         
              -}else{  
                  -n_inum+=","+s_inum.charAt(i);         
              -}     
          -}else{  
              -n_inum+=s_inum.charAt(i);  
          -}  
      -}  
      -}else{
          -n_inum=inum;
      -}
      -if(num2[1]!=undefined){
          -n_inum+="."+num2[1];
      -}
      -return n_inum;
    -}
    // Layout wrapper
    .layout-wrapper.layout-content-navbar
      .layout-container
        // Menu
        aside#layout-menu.layout-menu.menu-vertical.menu.bg-menu-theme
          .app-brand.demo
            a.app-brand-link(href='/shop/communityShop')
              span.app-brand-logo.demo
                svg(width='25', viewBox='0 0 25 42', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                  defs
                    path#path-1(d='M13.7918663,0.358365126 L3.39788168,7.44174259 C0.566865006,9.69408886 -0.379795268,12.4788597 0.557900856,15.7960551 C0.68998853,16.2305145 1.09562888,17.7872135 3.12357076,19.2293357 C3.8146334,19.7207684 5.32369333,20.3834223 7.65075054,21.2172976 L7.59773219,21.2525164 L2.63468769,24.5493413 C0.445452254,26.3002124 0.0884951797,28.5083815 1.56381646,31.1738486 C2.83770406,32.8170431 5.20850219,33.2640127 7.09180128,32.5391577 C8.347334,32.0559211 11.4559176,30.0011079 16.4175519,26.3747182 C18.0338572,24.4997857 18.6973423,22.4544883 18.4080071,20.2388261 C17.963753,17.5346866 16.1776345,15.5799961 13.0496516,14.3747546 L10.9194936,13.4715819 L18.6192054,7.984237 L13.7918663,0.358365126 Z')
                    path#path-3(d='M5.47320593,6.00457225 C4.05321814,8.216144 4.36334763,10.0722806 6.40359441,11.5729822 C8.61520715,12.571656 10.0999176,13.2171421 10.8577257,13.5094407 L15.5088241,14.433041 L18.6192054,7.984237 C15.5364148,3.11535317 13.9273018,0.573395879 13.7918663,0.358365126 C13.5790555,0.511491653 10.8061687,2.3935607 5.47320593,6.00457225 Z')
                    path#path-4(d='M7.50063644,21.2294429 L12.3234468,23.3159332 C14.1688022,24.7579751 14.397098,26.4880487 13.008334,28.506154 C11.6195701,30.5242593 10.3099883,31.790241 9.07958868,32.3040991 C5.78142938,33.4346997 4.13234973,34 4.13234973,34 C4.13234973,34 2.75489982,33.0538207 2.37032616e-14,31.1614621 C-0.55822714,27.8186216 -0.55822714,26.0572515 -4.05231404e-15,25.8773518 C0.83734071,25.6075023 2.77988457,22.8248993 3.3049379,22.52991 C3.65497346,22.3332504 5.05353963,21.8997614 7.50063644,21.2294429 Z')
                    path#path-5(d='M20.6,7.13333333 L25.6,13.8 C26.2627417,14.6836556 26.0836556,15.9372583 25.2,16.6 C24.8538077,16.8596443 24.4327404,17 24,17 L14,17 C12.8954305,17 12,16.1045695 12,15 C12,14.5672596 12.1403557,14.1461923 12.4,13.8 L17.4,7.13333333 C18.0627417,6.24967773 19.3163444,6.07059163 20.2,6.73333333 C20.3516113,6.84704183 20.4862915,6.981722 20.6,7.13333333 Z')
                  g#g-app-brand(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                    g#Brand-Logo(transform='translate(-27.000000, -15.000000)')
                      g#Icon(transform='translate(27.000000, 15.000000)')
                        g#Mask(transform='translate(0.000000, 8.000000)')
                          mask#mask-2(fill='white')
                            use(xlink:href='#path-1')
                          use(fill='#696cff', xlink:href='#path-1')
                          g#Path-3(mask='url(#mask-2)')
                            use(fill='#696cff', xlink:href='#path-3')
                            use(fill-opacity='0.2', fill='#FFFFFF', xlink:href='#path-3')
                          g#Path-4(mask='url(#mask-2)')
                            use(fill='#696cff', xlink:href='#path-4')
                            use(fill-opacity='0.2', fill='#FFFFFF', xlink:href='#path-4')
                        g#Triangle(transform='translate(19.000000, 11.000000) rotate(-300.000000) translate(-19.000000, -11.000000) ')
                          use(fill='#696cff', xlink:href='#path-5')
                          use(fill-opacity='0.2', fill='#FFFFFF', xlink:href='#path-5')
              span.app-brand-text.demo.menu-text.fw-bolder.ms-2 MSC TH
            a.layout-menu-toggle.menu-link.text-large.ms-auto.d-block.d-xl-none(href='javascript:void(0);')
              i.bx.bx-chevron-left.bx-sm.align-middle
          .menu-inner-shadow
          ul.menu-inner.py-1
            block navbarMain
            block navProduct
            block bank
            block order
            block profileShop
            // Tables
            li.menu-item
              if(shop.user_status == 4)
                label.menu-link(style="color:#71dd37")="สถานะ : ปกติ"
              else if(shop.user_status == 3)
                label.menu-link(style="color:red")="สถานะ : รอดำเนินการ"
              else 
                label.menu-link(style="color:red")="สถานะ : ไม่อนุมัติ"
                label.menu-link(style="color:red") ---คุณไม่ใช่สมาชิกในชุมชน---
            li.menu-item
              a.menu-link(href='/sign-out')
                i.menu-icon.tf-icons.bx.bx-power-off.me-2(style="color:red")
                div(data-i18n='Tables' style="color:red") ออกจากระบบ
        // / Menu
        // Layout container
        .layout-page
          // Navbar
          nav#layout-navbar.layout-navbar.container-xxl.navbar.navbar-expand-xl.navbar-detached.align-items-center.bg-navbar-theme
            .layout-menu-toggle.navbar-nav.align-items-xl-center.me-3.me-xl-0.d-xl-none
              a.nav-item.nav-link.px-0.me-xl-4(href='javascript:void(0)')
                i.bx.bx-menu.bx-sm
            #navbar-collapse.navbar-nav-right.d-flex.align-items-center
              ul.navbar-nav.flex-row.align-items-center.ms-auto
                // User
                li.nav-item.navbar-dropdown.dropdown-user.dropdown
                  each Community in community
                    a(href='/shop/shopProfile' style="color:#696cff")=Community.community_Shop_Name
                    |&nbsp;&nbsp;               
                li.nav-item.navbar-dropdown.dropdown-user.dropdown
                  a.nav-link.dropdown-toggle.hide-arrow(href='javascript:void(0);', data-bs-toggle='dropdown')
                    if(shop.user_status == 4)
                      .avatar.avatar-online
                        img.w-px-40.h-auto.rounded-circle(src='/images/icons/account.png', alt='')
                    else
                      .avatar.avatar-busy
                        img.w-px-40.h-auto.rounded-circle(src='/images/icons/account.png', alt='')
                  ul.dropdown-menu.dropdown-menu-end
                    li
                      a.dropdown-item(href='#')
                        .d-flex
                          .flex-shrink-0.me-3
                            if(shop.user_status == 4)
                              .avatar.avatar-online
                                img.w-px-40.h-auto.rounded-circle(src='/images/icons/account.png', alt='')
                            else
                              .avatar.avatar-busy
                                img.w-px-40.h-auto.rounded-circle(src='/images/icons/account.png', alt='')
                          .flex-grow-1
                            span.fw-semibold.d-block=shop.fullname_user
                            each Community in community
                              small(style="color:#696cff")=Community.community_name
                    li
                      .dropdown-divider
                    li
                      a.dropdown-item(href='/shop/shopProfile')
                        i.bx.bx-user.me-2
                        span.align-middle โปรไฟล์
                    //- li
                    //-   a.dropdown-item(href='#')
                    //-     i.bx.bx-cog.me-2
                    //-     span.align-middle Settings
                    li
                      .dropdown-divider
                    li
                      a.dropdown-item(href='/sign-out')
                        i.bx.bx-power-off.me-2(style="color:red")
                        span.align-middle(style="color:red") ออกจากระบบ
          // / Navbar
          // Content wrapper
          .content-wrapper
            block contentShop
            // Footer
            footer.content-footer.footer.bg-footer-theme
              .container-xxl.d-flex.flex-wrap.justify-content-between.py-2.flex-md-row.flex-column
                .mb-2.mb-md-0
                  //- a.footer-link.fw-bolder Credit : นาย กิตติศักดิ์ ถิ่นตองโขบ
                div
                  //- a.footer-link.me-4 FB : Kittisak Tintongkob
                  //- a.footer-link.me-4 โทร : 082-061-9785
                  a.footer-link.me-4 ระบบตลาดสื่อกลางเพื่อจำหน่ายสินค้าชุมชน
                  a.footer-link.me-4 มหาวิทยาลัยเทคโนโลยีราชมงคลกรุงเทพ
                  a.footer-link.me-4 สาขา : วิทยาการคอมพิวเตอร์
                  a.footer-link.me-4 ผู้จัดทำ : นายกิตติศักดิ์ ถิ่นตองโขบ / นายนที ยอดโต
            // / Footer
            .content-backdrop.fade
          // Content wrapper
        // / Layout page
      // Overlay
      .layout-overlay.layout-menu-toggle
    // Core JS
    // build:js assets/vendor/js/core.js
    script(src='/shop/assets/vendor/libs/popper/popper.js')
    script(src='/shop/assets/vendor/js/bootstrap.js')
    script(src='/shop/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js')
    script(src='/shop/assets/vendor/js/menu.js')
    // endbuild
    // Vendors JS
    //- script(src='/shop/assets/vendor/libs/apex-charts/apexcharts.js')
    // Main JS
    script(src='/shop/assets/js/main.js')
    // Page JS
    script(src='/shop/assets/js/dashboards-analytics.js')
    // Place this tag in your head or just before your close body tag.
    script(async='', defer='', src='/js/buttons.js')
    