extends layoutShop
block navbarMain
  li.menu-item
    a.menu-link(href='/shop/communityShop')
      i.menu-icon.tf-icons.bx.bx-home-circle
      div(data-i18n='Analytics') หน้าหลัก
block navProduct
  if(shop.user_status == 4)
    li.menu-item
      a.menu-link.menu-toggle(href='javascript:void(0);')
        i.menu-icon.tf-icons.bx.bx-layout
        div(data-i18n='Layouts') จัดการสินค้าชุมชน
      ul.menu-sub
        li.menu-item
          a.menu-link(href='/shop/product')
            div(data-i18n='Without menu') สินค้าชุมชน
        li.menu-item
          a.menu-link(href='/shop/product/addProduct')
            div(data-i18n='Without navbar') เพิ่มสินค้าชุมชน
block bank
  if(shop.user_status == 4)
    li.menu-item
      a.menu-link.menu-toggle(href='javascript:void(0);')
        i.menu-icon.tf-icons.bx.bx-bar-chart-alt-2
        div(data-i18n='Layouts') การเงิน
      ul.menu-sub
        li.menu-item
          a.menu-link(href='/shop/money/orderSummary')
            div(data-i18n='Without menu') ยอดขายสินค้าของร้านค้า
        li.menu-item
          a.menu-link(href='/shop/money/bank')
            div(data-i18n='Without navbar') บัญชีธนาคาร
block order
  if(shop.user_status == 4)
    li.menu-item
      a.menu-link(href='/shop/order')
        i.menu-icon.tf-icons.bx.bx-table
        div(data-i18n='Tables') จัดการคำสั่งซื้อ
block profileShop
  li.menu-header.small.text-uppercase
    h6(style="color:#696cff") บัญชีผู้ใช้งาน
  li.menu-item.active
    a.menu-link(href='/shop/shopProfile')
      i.menu-icon.tf-icons.bx.bx-user
      div(data-i18n='Tables') โปรไฟล์
//- end navbar
block contentShop
  section 
    .container-xxl.flex-grow-1.container-p-y
      h4.fw-bold.py-3.mb-4
        | โปรไฟล์
      .row
        .col-md-12
          ul.nav.nav-pills.flex-column.flex-md-row.mb-3
            li.nav-item
              a.nav-link.active(href='/shop/shopProfile')
                i.bx.bx-user.me-1
                |  โปรไฟล์
            li.nav-item
              a.nav-link(href='/shop/shopProfile/changePassword')
                i.bx.bxs-edit
                |  เปลี่ยนรหัสผ่าน
          .card.mb-4
            h3.card-header(style="color:#696cff") รายละเอียดโปรไฟล์
            // Account
            each communityProfile in community
              hr.my-0
              .card-body
                form#formAccountSettings(action="/shop/shopProfile", method='POST')
                  .row
                    .mb-3.col-md-6
                      h4(for='fullname') ชื่อร้านค้า
                      input#fullname.form-control(type='text', name='communityShopName',maxlength="30", value=communityProfile.community_Shop_Name, autofocus required=true)
                    .mb-3.col-md-6
                      h4(for='fullname') ชื่อ-นามสกุล
                      input#fullname.form-control(type='text', name='fullname',maxlength="70", value=shop.fullname_user, autofocus required=true)
                    .mb-3.col-md-6
                      h4(for='communityName') ชื่อชุมชน (ไม่สามารถแก้ไขได้)
                      input#communityName.form-control(type='text', name='communityName', value=communityProfile.community_name readonly)
                    .mb-3.col-md-6
                      h4(for='communityPhone') เบอร์โทรศัพท์
                      input#communityPhone.form-control(type='tel', name='communityPhone',pattern="[0-9]{10}" title="กรุณาใส่หมายเลข 0123456789" value=communityProfile.people_Community_Phone required=true)
                    .mb-3.col-md-6
                      h4(for='email') อีเมล
                        button.btn.btn-outline-primary(type='button', data-bs-toggle='modal', data-bs-target='#editEmail') แก้ไข
                      input#email.form-control(type='text', name='email',maxlength="100", value=shop.email, placeholder='MSC.TH@gmail.com' readonly)
                    if CheckedEmail
                      if(checkOutNoti != '')
                        div(class="container d-flex justify-content-center")
                          h3(class="alert-dismissible fade show" role="alert" style="color:red")=CheckedEmail
                      else
                        div(class="container d-flex justify-content-center")
                          h3(class="alert-dismissible fade show" role="alert" style="color:red")=checkOutNoti
                    else if CheckPassword
                      div(class="container d-flex justify-content-center")
                        h3(class="alert-dismissible fade show" role="alert" style="color:red")=CheckPassword
                  .d-grid.gap-2.col-lg-6.mx-auto
                    button.btn.btn-primary.btn-lg(type='submit') บันทึกการเปลี่ยนแปลง
                    //- button.btn.btn-outline-secondary(type='reset') ยกเลิก
                // Modal edit email
                form.dev-form(class="container d-flex justify-content-center", action='/shop/shopProfile/'+ shop.username + '/' + shop.password.substring(3,8) + '/editEmail', method='POST')
                  .modal.fade(id="editEmail", tabindex='-1', aria-hidden='true')
                    .modal-dialog.modal-dialog-centered(role='document')
                      .modal-content
                        .modal-header
                          h2#editEmailTitle.modal-title(style="color:#696cff") แก้ไขอีเมล
                          button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                        .modal-body
                          .row
                            .col.mb-3
                              h5(for='nameWithTitle') ชื่ออีเมลใหม่
                              input#NewEmail.form-control(name='email',maxlength="100", type='text', placeholder='อีเมลใหม่', value=shop.email required=true)
                              br
                            .form-password-toggle
                              h5(for='nameWithTitle') รหัสผ่าน (เพื่อยืนยันตัวตน)
                              .input-group.input-group-merge
                                input#password.form-control(type='password',minlength="8" maxlength="12" name='password', title="รหัสผ่านต้องมีอักขระอย่างน้อย 8 ตัว" placeholder='············' required=true)
                                span.input-group-text.cursor-pointer
                                  i.bx.bx-hide
                              label(style="color:red") ***รหัสผ่านต้องมีอักษรหรือตัวเลขอย่างน้อย 8 ตัวแต่ไม่เกิน 12 ตัว***
                        .modal-footer
                          button.btn.btn-danger(type='button', data-bs-dismiss='modal') ปิด
                          button.btn.btn-primary(type='submit') ยืนยันการเปลี่ยนแปลง
  script.
    var myModal = document.getElementById('editEmail')
      myModal.addEventListener('shown.bs.modal', function () {
        document.getElementById('#NewEmail').focus();
    })