extends ../layout
block content
  -function formatMoney(inum){  // ฟังก์ชันสำหรับแปลงค่าตัวเลขให้อยู่ในรูปแบบ เงิน
    -var s_inum=new String(inum);
    -var num2=s_inum.split(".");
    -var n_inum="";  
    -if(num2[0]!=undefined){
    -var l_inum=num2[0].length;  
    -for(i=0;i<l_inum;i++){  
        -if(parseInt(l_inum-i)%3==0){  
            -if(i==0){  
                -n_inum+=s_inum.charAt(i);         
            -}else{  
                -n_inum+=","+s_inum.charAt(i);         
            -}     
        -}else{  
            -n_inum+=s_inum.charAt(i);  
        -}  
    -}  
    -}else{
        -n_inum=inum;
    -}
    -if(num2[1]!=undefined){
        -n_inum+="."+num2[1];
    -}
    -return n_inum;
  -}
  .container-xxl.flex-grow-1.container-p-y
    .bread-crumb.flex-w.p-l-25.p-r-15.p-t-30.p-lr-0-lg
      a.stext-109.cl8.hov-cl1.trans-04(href='/')
        | หน้าหลัก
        i.fa.fa-angle-right.m-l-9.m-r-10(aria-hidden='true')
      a.stext-109.cl8.hov-cl1.trans-04(href='/cart')
        | ตะกร้าสินค้า
        i.fa.fa-angle-right.m-l-9.m-r-10(aria-hidden='true')
      span.stext-109.cl4
        | เลือกที่อยู่
    // Shoping Cart
  .container-xxl.flex-grow-1.container-p-y
    .row
      .col-lg-10.col-xl-7.m-lr-auto.m-b-50
        .m-l-30.m-r--38.m-lr-0-xl
          .wrap-table-shopping-cart
            table.table-shopping-cart
              thead
                tr.table_head
                  th.text-center ลำดับที่
                  th
                  th(class="container d-flex justify-content-center") สินค้า
                  th ราคา
                  th(class="container d-flex justify-content-center") จำนวน
                  th ราคารวม
                  th
              tbody
                if cart.length > 0
                  each item,index in cart
                    -var quantity = item.quantity;
                    tr.table_row
                      if item.product_Quantity == 0
                        td.text-center=index+1
                        h6(style="color:red" class="container d-flex justify-content-center") สินค้าหมด
                      else
                        td.text-center=index+1
                      td
                        .how-itemcart
                          a(href="/cat/" + item.category_Name + "/" + item.product_Id + "/" + item.product_Name)
                            img(class="container d-flex justify-content-center" width="100" height="100" src='/images/product/' + item.productImage, alt=item.product_Name)
                      td
                        if item.product_Name.length > 30
                          a(href="/cat/" + item.category_Name + "/" + item.product_Id + "/" + item.product_Name)=item.product_Name.substring(0,30)+"..."
                          br
                          if item.community_Shop_Name.length > 30
                            a=item.community_Shop_Name.substring(0,30)+"..."
                          else
                            a=item.community_Shop_Name
                        else
                          a(href="/cat/" + item.category_Name + "/" + item.product_Id + "/" + item.product_Name)=item.product_Name
                          br
                          if item.community_Shop_Name.length > 30
                            a=item.community_Shop_Name.substring(0,30)+"..."
                          else
                            a=item.community_Shop_Name
                      td=item.product_Price
                        p 
                      td
                        form(action='/cart/' + item.product_Id + '/update', method='POST' class="container d-flex justify-content-center")
                          input.mtext-104.cl3.txt-center.num-product(type='number', name=item.product_Id, value=quantity max=item.product_Quantity)
                        if item.product_Quantity == 0
                          div(class="container d-flex justify-content-center") 
                            p(style="color:red")="เหลือสินค้าอยู่ " + item.product_Quantity + " ชิ้น"
                        else if item.product_Quantity <= 10
                          div(class="container d-flex justify-content-center") 
                            p(style="color:red")="เหลือสินค้าอยู่ " + item.product_Quantity + " ชิ้น"
                      td="฿ " + item.productTotal
                      td
                        form(action='/cart/' + item.product_Id + '/delete', method='POST')
                          button.btn.btn-outline-danger(type="submit" value=item.product_Id)
                            i.fa.fa-times
                else
                  tr.table_row
                    td
                    td
                    td
                    td
                      a(href="/")
                        h4(style="color:red" class="container d-flex justify-content-center") ยังไม่มีสินค้าอยู่ในตะกร้า
                        h4(style="color:red" class="container d-flex justify-content-center") ช้อปที่นี่
      if (summary != null && summary.totalQuantity != 0)
        .col-sm-10.col-lg-7.col-xl-5.m-lr-auto.m-b-50
          .bor10.p-lr-40.p-t-30.p-b-40.m-l-63.m-r-40.m-lr-0-xl.p-lr-15-sm
            h4.mtext-109.cl2.p-b-30(style="font-weight:bold")="ตะกร้าสินค้าทั้งหมด"
            .size-220
              hr.divider-w.mb-10
              span.mtext-101.cl2="รวมสินค้า ( " + summary.totalQuantity + " ชิ้น ) ฿ "
              span.mtext-101.cl2(style="color:#6c7ae0")=formatMoney(summary.subTotal)
              hr.divider-w.mb-10
    .card
      .card-body
        div(class="container d-flex justify-content-center")
          hr.divider-w.mb-10
          h1.font-alt(style="color:#6C7AE0") เลือกที่อยู่ในการจัดส่ง
          hr.divider-w.mb-10
    br
  .container
    .row(class="d-flex justify-content-between")
      .col-lg-3
        div
          hr.divider-w.mb-10
          h3.font-alt(class="d-flex justify-content-center" style="color:#6C7AE0") เพิ่มที่อยู่
          hr.divider-w.mb-10
          form.dev-form(action='/checkout/delivery/new', method='POST')
            .form-group
              h5(for='fullname') ชื่อ-นามสกุล
              input#fullname.form-control(type='text', name='fullname',maxlength="70" placeholder='ชื่อ-นามสกุล',autofocus required=true)
            .form-group
              h5(for='phone') เบอร์โทรศัพท์
              input#phone.form-control(type='tel', name='phone', placeholder='0XX-XXX-XXXX',pattern="[0-9]{10}",title="กรุณาใส่หมายเลข 0123456789" required=true)
            .form-group
              h5(for='address') ที่อยู่
              input#address.form-control(type='text', name='address',maxlength="255", placeholder='บ้านเลขที่ / ซอย / ถนน' required=true)
            .form-group
              h5(for='Province') จังหวัด  :
              select.form-control.form-control-sm-2(name="Province" id="Province" onChange="ChooseProvince(this)" required=true)
                option(value="0")|---เลือกจังหวัด---
                each province in provinces
                  option(value=province.provinces_id name="province")=province.provinces_name
            .form-group
              h5(for='Amphure') อำเภอ / เขต
              select.form-control.form-control-sm-2(name="Amphure" class="Amphure" id="Amphure" onChange="ChooseAmphures(this)" required=true) 
                option(value="")|---เลือกอำเภอ---
            .form-group
              h5(for='Tambon') ตำบล / แขวง
              select.form-control.form-control-sm-2(name="Tambon" class="Tambon" id="Tambon" required=true)        
                option(value="")|---เลือกตำบล---
            .form-group
              h5(for='zip_code') รหัสไปรษณีย์
              input.form-control.form-control-sm-2(type="text" id="Zipcode" name="zip_code" readonly required=true)
            button.size-121(class='btn btn-primary', type='submit', value='confirm', tabindex='2', aria-label='Submit')
              //- i.fa.fa-edit
              = ' เพิ่มที่อยู่'
            hr.divider-w.mb-10
      .col-lg-9
        section(class="container")
        hr.divider-w.mb-10
        h3.font-alt(class="d-flex justify-content-center" style="color:#6C7AE0") ที่อยู่
        hr.divider-w.mb-10
        .row.row-col-3
          if addresses.length === 0
            .div(class="container d-flex justify-content-center")
              p(class="alert alert-danger alert-dismissible fade show" role="alert" style="color:red") คุณยังไม่มีที่อยู่
          else
            each address in addresses
              .col-sm-4
                  table(class="d-flex justify-content-center" style="width:100%")
                    tbody
                      tr
                        td
                          h5(style="color:#6c7ae0")="ชื่อ"
                        td(class="font-weight-bold")
                          h5(style="font-weight:bold")='\u00a0'+address.fullname
                      tr 
                        td
                        td
                          h5.text-center(style="color:#6c7ae0")="ที่อยู่"
                          h5=address.address + " "
                      tr 
                        td 
                        td
                          h5=address.amphures_name + " " + address.tambons_name
                      tr 
                        td 
                        td
                          h5=address.provinces_name + " " + address.zip_code
                      tr 
                        td 
                        td
                          h5="โทร." + address.phone
                  hr.divider-w.mb-10
                  form.dev-form(action='/checkout/delivery/' + address.address_Id, method='POST')
                    button.size-121(class='btn btn-primary', type='submit', value='confirm', tabindex='2', aria-label='Submit')
                      = ' เลือก'
                  hr.divider-w.mb-10

  script(src='/vendor/jquery/jquery-3.2.1.min.js')
  script.
    function ChooseProvince(province){
        fetch('/checkout/delivery/address/'+province.value)
        .then(res=> res.json())
        .then(data =>{
            const Amphure= document.getElementById("Amphure");
            Amphure.innerHTML='<option value="">---เลือกอำเภอ---</option>';
            const Tambon= document.getElementById("Tambon");
            Tambon.innerHTML='<option value="">---เลือกตำบล---</option>';
            const ZipCode=document.getElementById("Zipcode");
            document.getElementById("Zipcode").value='';
            data.forEach(value=>{
                var option=document.createElement('option');
                option.value=value.amphures_id
                option.text=value.amphures_name
                Amphure.appendChild(option);
            })
        });
    }
    function ChooseAmphures(Amphure){
        var province=document.getElementById("Province").value;
        fetch('/checkout/delivery/address/'+province+'/'+Amphure.value)
        .then(res=> res.json())
        .then(data =>{
            const Tambon= document.getElementById("Tambon");
            Tambon.innerHTML='<option value="">---เลือกตำบล---</option>';
            const ZipCode=document.getElementById("Zipcode");
            ZipCode.value="";
            data.forEach(value=>{
                var option=document.createElement('option');
                option.value=value.tambons_id
                option.text=value.tambons_name
                ZipCode.value=value.zip_code
                Tambon.appendChild(option);
            })
        });
    }
  script(src='/js/bootstrap-input-spinner.js')
  script.
    $("input[type='number']").inputSpinner();